<div class="container">

  <div class="custom-container d-flex justify-content-center align-items-center">

    <div class="product-img">
      <img class="img-fluid" [src]="product!.url" alt="">
    </div>


    <div class="details">
      <p class="name">{{product!.name}}</p>
      <p class="price">${{product!.price}}</p>
      <p class="description">{{product!.description}}</p>
      <span>Quantity: </span>

      <select name="" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>

      <a href="#" class="btn btn-primary">Add to cart</a>

      <a class="back" href=""><i class="bi bi-arrow-left"></i> Back to product list</a>
    </div>

  </div>

</div>
